pytest==8.1.1
flake8==7.1.1
black==24.10.0
isort==5.13.2
pandas==2.2.1
scikit-learn==1.4.1.post1
networkx==3.2.1
numpy==1.26.4
praw==7.7.1
beautifulsoup4==4.12.3
requests==2.31.0
textblob==0.18.0
langdetect==1.0.9
gspread==6.1.2
google-auth==2.34.0